* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*---Body Style Start---*/

body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
}

/*---Body Style Start---*/
:root {
    --primary-color: #a06138;
    --secondary-color: #fff5ee;
    --tertiary-color: #285252;
}


/*---Header Style Start---*/

header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-family: 'Cherolina', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.50vw;
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

header h1 {
    font-weight: bold;
    font-size: 4vw;
    color: var(--primary-color);
    margin: 0;
    display: inline;
}

section {
    padding: 60px;
}



/*---SECTION STYLE START---*/
.section-title {
    font-size: 7vw;
    color: var(--primary-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
    font-family: 'Cherolina', sans-serif;
}

/*---SECTION STYLE START---*/


/*---Hero Style Start---*/

.intro {
    height: auto;
    background-image: url("../images/hero-bg.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

.intro h2 {
    font-family: 'Cherolina', sans-serif;
    color: #353935;
}

.intro p {
    line-height: 1.7;
    color: var(--primary-color);
    width: 80%;
    font-size: 6vw;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    text-align: center;
    opacity: .95;
}

.intro p:hover {
    color: #28525b;
}

.web {
    opacity: .95;
    color: #28525b;
}

.web:hover {
    color: #fff5ee;
}

.illustrator {
    opacity: .95;
    color: #c9b3a4;
}

.illustrator:hover {
    color: #a06138;
}

/*---Hero Style End---*/

/*---About Me Style Start---*/

.about-me {
    background-image: url("../images/about-bg.png");
    height: auto;
    background-size: cover;
    background-position: center;
    position: relative;
}

.about-me h2 {
    color: var(--primary-color);
}

.about-me h3 {
    font-size: 46px;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    color: var(--tertiary-color);
}

.about-me p {
    font-family: 'Raleway', sans-serif;
}

.about-me a {
    font-style: none;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.50vw;
}

.about-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-info>* {
    flex: 1;
    margin: 15px;
}

.about-me img {
    max-width: 100%;
}

.about-info div {
    color: white;
}

.about-info p {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 26px;
    font-style: normal;
}


/*---What You Do Style Start---*/
.skill-list {
    background-image: url("../images/skill-bg.png");
    height: auto;
    background-size: cover;
    background-position: center;
    position: relative;
}

.skill {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.skill:last-child {
    border-bottom: none;
}

.skill h3 {
    color: #024e76;
    font-size: 5vw;
    flex: 1 30%;
}

.skill-text p {
    color: var(--tertiary-color);
    font-size: 18px;
}

.skill-text h4 {
    font-size: 4vw;
    line-height: 1.5;
    color: var(--secondary-color);
}

.skill-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.skill-img {
    flex: 1 12%;
    margin-right: 20px;
}

.skill-text {
    flex: 12;
}

.skill-img img {
    max-width: 100%;
}

/*---What You Do Style End---*/


/*---Some of My Work Style Start---*/

.my-work {
    background-color: var(--secondary-color);
    height: auto;
    background-size: cover;
    background-position: center;
    position: relative;
}

.projects {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    margin: 20px;
    flex: 1;
    background: var(--secondary-color);
    color: var(--primary-color);
}

.project img {
    width: 100%;
}

.website-info {
    padding: 25px;
    line-height: 1.3;
}

.website-info h3 {
    font-size: 28px;
}

.website-info h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
}

.website-info p {
    font-size: 17px;
}

/*---Some of My Work Style End---*/


/*---Contact Me Style Start---*/
.contact {
    background: var(--tertiary-color);

}

.contact h2 {
    color: var(--primary-color);
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info>* {
    flex: 1;
    margin: 15px;
}

.contact-info iframe {
    height: 400px;
}

.contact-info div {
    color: white;
}

.contact-info p,
.contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 26px;
    font-style: normal;


}

.contact-form input,
.contact-form textarea {
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.contact-form input:focus,
.contact-form textarea:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}

.contact-form button,
.about-me button {
    width: 100%;
    border: none;
    border-radius: 10px;
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}

.contact-form button:hover,
.about-me button:hover {
    color: var(--primary-color);
    background: var(--secondary-color);
}

.contact-info a {
    color: var(--primary-color);
}

.flex-row {
    display: flex;
}

/*---Contact Me Style Ends---*/






/*---Footer Style Start---*/
footer {
    width: 100%;
    padding: 10px 10px;
}

footer h2 {
    display: inline;
    color: var(--primary-color);
    font-size: 17px;
    margin: 0;
    opacity: .65;
}

footer div {
    float: right;
}

footer div ul li {
    display: inline;

}

footer div ul li a img {
    opacity: .50;
    filter: alpha(opacity=40);
    margin: 0 5px;
}

footer div ul li a img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

/*---Footer Style End---*/

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */ 

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
        flex: 1 100%;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2,
    footer div {
        text-align: center;
        width: 100%;
    }


    .section-title {
        width: auto;
        flex: 1 100%;
        text-align: center;
    }

    .trainer {
        flex: 0 70%;
    }

    .contact-info iframe {
        flex: 1 100%;
    }
}

@media screen and (max-width: 768px) {

    section {
        padding: 30px 15px;
    }

    .skill h3 {
        flex: 1 100%;
        text-align: center;
    }

    .skill-info,
    .about-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .skill-img,
    .about-me img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .skill-text,
    .about-text {
        flex: 100%;
    }
}

@media screen and (max-width: 575px) {

    .hero-form button {
        width: 100%;
    }

    .section-title {
        width: 95%;
    }

    .intro p {
        width: 100%;
    }

    .project {
        flex: 0 100%;
    }

    .contact-info {
        text-align: center;
    }

    .contact-info>* {
        flex: 0 100%;
    }

    .contact-form {
        order: 3;
    }

}